
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="one">
<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>User Account</h1>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <p>{{user.email}}</p>
      <br>
      <!-- <input type="text" placeholder="User Email" name="email" required>{{user.email}} -->
      <label for="profile"><b>Profile</b></label>
      <p>{{user.profile}}</p>
      <br>
      <label for="email"><b>Username</b></label>
      <p>{{user.username}}</p>
      <!-- <input type="text" placeholder="Username" name="email" required>{{user.username}} -->
      <!-- <P>{{user | json}}</P>  -->
      <div class="clearfix">
        <!-- <button type="submit" class="signupbtn">Change password</button> -->
        <a routerLink = "/home/changepassword" id="changepassword-button" button mat-raised-button color="primary">Change Password</a>
      </div>
    </div>
  </form>
</body>
</html>