<div class="one">
    <div class="example-containers">
      <div class="row">
        <div class="col-9">
        <h1 style="text-align: center; font-family: Raleway, sans-serif;"> PROJECT DETAILS </h1>
        </div>
        <div class="col-3">
        <div class="first">
            <button mat-raised-button color="primary" routerLink="/home/add-project">Create New Project</button>
      </div>
          </div>
          </div>
            <div class="example-header">
    
          <mat-form-field style="text-align: left; padding-left: 87%; height: 1%;">
            <input matInput (keyup)="applyFilter($event)"  placeholder="Search" >
          </mat-form-field>
       
          </div>
        <mat-table #table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ProjectId</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="projectName">
            <mat-header-cell *matHeaderCellDef>Project Name</mat-header-cell>
            <mat-cell *matCellDef="let element" routerLink="/home/edit-project/{{element.id}}" style="cursor: pointer; color: rgb(160, 115, 202);"> {{element.projectName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              {{element.isActive ? 'Active' : 'Closed'}}
            </mat-cell>
          </ng-container>
    
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    
    </div>
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
