.one{
    /* background-color: #f2f3f7;; */
    height: 100%;
    padding-top: 2%;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    
  }
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;

  }
.first button{
    margin-left: 79%;
    width: 19%;
    background-color: #894cac;
    font-family:  Raleway, sans-serif;;
}