<mat-sidenav-container class="container classmaincontainer">
  <mat-sidenav #sidebar mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar>
          <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
          <div class="box">
            <!-- <mat-icon>search</mat-icon>
            <mat-icon>bookmark_border</mat-icon> --> 
            <span> Hi, {{user.username}}
            <a *ngIf="loggedIn"  (click)="logoutUser()" mat-icon-button id="logout-button"><mat-icon>logout</mat-icon></a></span>
            
            <!-- <mat-icon>mail_outline</mat-icon> -->
          </div>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

