mat-sidenav {
    background-color: white;
    width: 250px;
    height: 100%;

}
.classmaincontainer{
    max-width: none !important;
}
mat-sidenav-content {
    height: 100vh;
    background-color: whitesmoke;
}

.mat-sidenav-content .main {
    margin-left: 30px;
}

.mat-toolbar .mat-icon {
    margin-left: 15px;
    color: #0000008f;
}

mat-toolbar {
    justify-content: space-between;
    background-color: #894cac;
    margin-bottom: 3%;
}

.mat-toolbar .box {
    margin-top: 1px;
}

#logout-button {
    margin-right: 5px;
    color: #0000008f;

    /* text-decoration:underline; */

}








/* .container{
    text-align: center;
    margin-top: 30px;

}
.mat-toolbar.mat-primary{
    background: #a224ad;
    color: #fff;
}
.mat-icon{
    color:rgb(179, 130, 186);
}
.logouticon{
    display: flex;
    margin-left: auto;
    color:#bb36fd;
} */