<mat-sidenav-container class="container">
  <mat-sidenav #sidebar mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar>
          <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
          <div class="box">
            <mat-icon>search</mat-icon>
            <mat-icon>bookmark_border</mat-icon>
            <mat-icon routerLink="/" >logout</mat-icon>
            <!-- <mat-icon>mail_outline</mat-icon> -->
          </div>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>





<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body>
<mat-toolbar color="primary"> 
       <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span>Task Management Tool</span> 
    <button  class="logouticon">
        <i class="bi-power"></i>
    </button>
</mat-toolbar>
  </body>
</html> 

<mat-list role="list">
    <mat-list-item role="listitem"><b>Task</b></mat-list-item>
    <mat-list-item role="listitem"><b>Project</b></mat-list-item>
    <mat-list-item role="listitem"><b>My Account</b></mat-list-item>
  </mat-list>
 -->
