<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="one">
<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Add Task Category</h1>
      <hr>
  
      <label for="psw"><b>New Task Category</b></label>
      <input type="text" placeholder="such as analyst"  required>
  
      <div class="clearfix">
        <a routerLink = "/home/task" id="cancel-button" button mat-raised-button color="primary">Cancel</a>
        <a routerLink = "/home/task" id="save-button" button mat-raised-button color="primary">Submit</a>
      </div>
    </div>
  </form>
</body>
</html>
