<div class="one">
  <div class="containers">
      <h1 style="text-align: center; font-family: Raleway, sans-serif;"> TASK DETAILS </h1> <br> </div>
      
      <div class="first">
          <button mat-raised-button color="primary" id="newtaskbutton" routerLink="/home/add-task">Add New Task</button>
      <div class="example-header">
  
        <mat-form-field id="searchinput" style="text-align: left; padding-left: 87%; height: 1%; ">
          <input matInput (keyup)="applyFilter($event)" placeholder="Search" >
        </mat-form-field>
        <!-- <mat-form-field  appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search" (input)="applyFilter($event)">
        </mat-form-field>
         -->
      <mat-table #table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Task Id</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let element" routerLink="/home/edit-task/{{element.id}}" style="cursor: pointer; color: rgb(160, 115, 202);"> {{element.title}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="project">
          <mat-header-cell *matHeaderCellDef>Project Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.project.projectName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dueDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status.taskstatus}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="assignedTo">
          <mat-header-cell *matHeaderCellDef> Assigned To </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.assignedTo.username}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="createdBy">
          <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdBy.username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdOn">
          <mat-header-cell *matHeaderCellDef> Created On </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdOn}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef routerLink="/home/add-taskcategory"> Task Category </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.category.taskCategory}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
    </div>
    
    </div>
