form{
    background-color: rgb(225, 199, 244);
    margin-top:2%;
    padding-right:5%;
}
.example-form-field {
    margin-right: 20px;
  }

#submitbutton{
    background-color:  #894cac;
}
.edittaskheading{
    margin-left: 38%;
    margin-top:1.5%;
}

body{background:  rgb(225, 199, 244)}.date{font-size: 11px}.comment-text{font-size: 12px}.fs-12{font-size: 12px}.shadow-none{box-shadow: none}.name{color: #8d13e4}.cursor:hover{color: blue}.cursor{cursor: pointer}.textarea{resize: none}
#comment-button{
    margin-right: 15px;
    background: #e54ff2;
    color: #fff;
}
#cancel-button{
    margin-right: 15px;
    background: #e54ff2;
    color: #fff;
}

.flex-column{
    flex-direction: column!important;
}

