@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');



*{
    font-family:'Inter',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.mat_icon{
    color:rgb(233, 229, 229);
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Material-Icons';
    vertical-align: middle;
}
img{
    margin-top: 16px;
    height: 120px;
    width:120px;
    margin-left: 12%;
}
.top{
    margin-top: 4px;
    padding: 8px;
    margin-left: 185px;
    font-size:50px;
}
.user{
    text-align: center;
    font-weight:800;
    margin-bottom: 50px;
    margin-left:20%;
}
.user .name{
    color:white;
}
.user .mail{
    color:rgb(191, 175, 175);
    margin-top: -16px;
}
.menu-head{
    color:black;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 20px;
}
.menu-item .menu-button{
    display: block;
    position: relative;
    display: flex;
    padding-left: 50px;
    margin-bottom: 10px;
}
.menu-button span{
    margin-left: 15px;
    color:white;
}
.menu-button:hover{
    background-color: #2c3344;
}
.menu-button:focus{
    background-color: #2c3344;
}
.menu-item{
    margin:0 10px 0 10px;
}