<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>    -->
</head>
  <body>
    <div class="container">
        <div class="myCard">
            <div class="row">
                <div class="col-md-6">
                    <div class="myLeftCtn">
                    <form class="myForm text-center" (ngSubmit)="submitTheForm()" method="post" >
                        <header> Create new account</header>
                    <div class="form-group">
                        <i class="bi bi-person-fill"></i>
                        <input class="myInput" type="text" placeholder="Username" id="username" name="username" [(ngModel)]="data.username" required>
          
                    </div> 
                    <div class="form-group">
                        <i class="bi bi-envelope-at-fill"></i>
                        <input class="myInput" type="text" placeholder="Email" id="email"  name="email" [(ngModel)]="data.email" required>
                    </div>

                    <div class="form-group">
                        <i class="bi bi-key-fill"></i>
                        <input class="myInput" type="password" placeholder="Password" id="password" name="password" [(ngModel)]="data.password" required>
                    </div>
                    <br>
                    <!-- <div class="form-group">
                        <i class="bi bi-key-fill"></i>
                        <input class="myInput" type="text" placeholder="ConfirmPassword" id="password" required>
                    </div> -->

                    <!-- {{data | json}} -->
                    <div class="form-group">
                        <label>
                            <input id="check_1" nam="check_1" type="checkbox" required><small> I read and agree to Terms & conditions<br>
                                <p class="register">Already have an account?<U><a routerLink = "/" > SignIn</a></U></p>
                        </small>
                        <br>
                        <div class="invalid-feedback">You must check the box</div>
                        </label>
                    </div>
                    <button  type="submit" class="butt" mat-raised-button color="primary"  id="signup-button">Create Account</button>
                </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="myRightCtn">
                    <div class="box">
                        <header>Task Management Tool</header>
                        <p>Task management tools address a general need to organize, prioritize and visualize work. Through analysis, you learn how to get things done in more effective ways.</p>
                        <a href="https://www.scitepress.org/papers/2009/20118/20118.pdf" type="button" class="butt_out">Learn more</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html> 


