<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="one">
<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Change Password</h1>
      <p>Please fill in this form to reset your password</p>
      <hr>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
      <div class="clearfix">
        <a routerLink = "/home" id="cancel-button" button mat-raised-button color="primary">Cancel</a>
        <a routerLink = "/home/dashboard" id="save-button" button mat-raised-button color="primary">Save</a>
      </div>
    </div>
  </form>
</body>
</html>